.App {
  text-align: center;
}

.button {
  padding: 10px;
  position:absolute;
  background-color: rgb(19, 217, 217);
  color: white !important;
  font-size: calc(10px + 1.5vmin);
  width: 100px;
  top:0;
  right:0;
}

.button-prices{
  padding: 10px;
  position:absolute;
  background-color: rgb(19, 217, 217);
  color: white !important;
  font-size: calc(10px + 1.5vmin);
  width: 150px;

}

.Welcome{
  position:absolute;
  animation: animate 0.5s infinite;
  animation-name: wave;
  text-shadow: 2px 2px #11d6da;
  top:0;
  animation: glow 2s ease-in-out infinite

}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}


/* .SearchBar{
  display: flex;
  float: left;
  padding: 25px; 
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 30%;
  /* text-align: center; If you want the text to be centered */
/* } */ 

.App-logo {
  background-repeat: no-repeat;
  min-height: 200px;

  /* pointer-events: none; */
}
.App-logo-left {
  height: 15vmin;
  width: 15vmin;
  /* pointer-events: none; */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-left {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-left-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
